<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis *Mapper.xml 示例 -->
<mapper namespace="me.frank.spring.boot.demo.mapper.UserMapper">
    <!-- 获取所有用户信息 -->
    <select id="findAll" resultMap="me.frank.spring.boot.demo.entity.AppUser">
        SELECT
            `id`,
            `name`,
            `gender`
        FROM `user`
    </select>
</mapper>