<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis 配置文件示例 -->
<configuration>
    <!-- 数据类型别名 -->
    <typeAliases>
        <typeAlias alias="int" type="java.lang.Integer" />
        <typeAlias alias="long" type="java.lang.Long" />
    </typeAliases>
</configuration>